html,
body,
canvas {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  font-family: 'Helvetica Neue', Verdana, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 1.125em;
  line-height: 1.5em;

  background-color: #050505;
  color: #c5c5c5;
}

a {
  text-decoration: none;
  color: #19f;
}

a:hover {
  text-decoration: underline;
}
