{:nrepl {:port 8777}
 
 :dev-http {8080 {:root "public"}}

 :source-paths ["src"]

 :dependencies [[reagent "1.1.1"]
                [re-frame "1.3.0-rc3"]
                [applied-science/js-interop "0.3.3"]]

 :builds {:app {:target :browser

          :output-dir "public/js"
          :asset-path "/js"
          
          ;; We need this line to prevent a compilation issue with drei.
          :js-options {:entry-keys ["module" "browser" "main"]}
          
          :compiler-options {:infer-externs :auto
                             :output-feature-set :es6}
          
          ;; Enable to dynamically load modules.
          :module-loader true
          
          :modules {:app {:entries [app.core]
                          :init-fn app.core/init!}
                    
                    ; :demos-box {:entries [app.demos.box]
                    ;             :depends-on #{:app}}
                    }
          }}}
